In [28]:
import pandas as pd
import os

In [10]:
delivery_df = pd.read_csv('../../data/delivery_data.csv')
delivery_df.head()

,Order_ID,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Pickup_Time,Weather,Traffic,Vehicle,Delivery_Time
0,ialx566343618,22.745049,75.892471,22.765049,75.912471,11:45:00,Sunny,High,motorcycle,120
1,akqg208421122,12.913041,77.683237,13.043041,77.813237,19:50:00,Stormy,Jam,scooter,165
2,njpu434582536,12.914264,77.678400,12.924264,77.688400,8:45:00,Sandstorms,Low,motorcycle,130
3,rjto796129700,11.003669,76.976494,11.053669,77.026494,18:10:00,Sunny,Medium,motorcycle,105
4,zguw716275638,12.972793,80.249982,13.012793,80.289982,13:45:00,Cloudy,High,scooter,150

In [25]:
van_df = delivery_df[delivery_df['Vehicle'] == 'van']
van_df.head(5)

,Order_ID,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Pickup_Time,Weather,Traffic,Vehicle,Delivery_Time
14,zyvo118176215,19.176269,72.836721,19.266269,72.926721,20:35:00,Sandstorms,Jam,van,100
20,pbjm971961647,23.357804,85.325146,23.487804,85.455146,22:45:00,Sandstorms,Low,van,130
24,owvs520891091,13.005801,80.250744,13.115801,80.360744,18:50:00,Sunny,Medium,van,75
28,xjps180812498,18.514210,73.838429,18.624210,73.948429,23:45:00,Windy,Low,van,60
45,rxgx102974679,19.221315,72.862381,19.281315,72.922381,21:45:00,Sunny,Jam,van,55

In [26]:
van_df = van_df.drop('Vehicle', axis=1)
van_df = van_df.reset_index(drop=True)
van_df

,Order_ID,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Pickup_Time,Weather,Traffic,Delivery_Time
0,zyvo118176215,19.176269,72.836721,19.266269,72.926721,20:35:00,Sandstorms,Jam,100
1,pbjm971961647,23.357804,85.325146,23.487804,85.455146,22:45:00,Sandstorms,Low,130
2,owvs520891091,13.005801,80.250744,13.115801,80.360744,18:50:00,Sunny,Medium,75
3,xjps180812498,18.514210,73.838429,18.624210,73.948429,23:45:00,Windy,Low,60
4,rxgx102974679,19.221315,72.862381,19.281315,72.922381,21:45:00,Sunny,Jam,55
...,...,...,...,...,...,...,...,...,...
3553,ncnn455761178,30.335259,78.053162,30.415259,78.133162,19:05:00,Stormy,Medium,110
3554,mpbz498193455,30.340722,78.060221,30.470722,78.190221,19:45:00,Stormy,Jam,135
3555,porw124204768,19.875908,75.358888,19.895908,75.378888,9:45:00,Cloudy,Low,60
3556,llbw528617620,12.310972,76.659264,12.440972,76.789264,21:20:00,Sunny,Jam,145
3557,spgc082793916,13.022394,80.242439,13.042394,80.262439,9:50:00,Sandstorms,Low,100

In [29]:
van_df.to_csv('../../data/van_delivery_data.csv')

In [ ]:
os.